In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
suicide_rates_full = pd.read_csv("suicide_rates_no_na.csv")
suicide_rates_full.head()

,HDI for year,age,country,country-year,gdp_per_capita ($),generation,population,sex,suicides/100k pop,suicides_no,year,gdp_for_year ($)
0,0.841,75+ years,United States,United States1985,19693,G.I. Generation,4064000,male,53.57,2177,1985,4346734000000
1,0.841,55-74 years,United States,United States1985,19693,G.I. Generation,17971000,male,29.50,5302,1985,4346734000000
2,0.841,25-34 years,United States,United States1985,19693,Boomers,20986000,male,24.46,5134,1985,4346734000000
3,0.841,35-54 years,United States,United States1985,19693,Silent,26589000,male,22.77,6053,1985,4346734000000
4,0.841,15-24 years,United States,United States1985,19693,Generation X,19962000,male,21.38,4267,1985,4346734000000

In [5]:
suicides_us = suicide_rates_full[suicide_rates_full["country"] == "United States"]
suicides_us = suicides_us[['country','year','sex','age','suicides_no','population','suicides/100k pop','country-year','HDI for year','gdp_for_year ($)','gdp_per_capita ($)','generation']]
suicides_us

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,4346734000000,19693,G.I. Generation
1,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,4346734000000,19693,G.I. Generation
2,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,4346734000000,19693,Boomers
3,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,4346734000000,19693,Silent
4,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,4346734000000,19693,Generation X
5,United States,1985,female,35-54 years,2105,27763000,7.58,United States1985,0.841,4346734000000,19693,Silent
6,United States,1985,female,55-74 years,1568,21366000,7.34,United States1985,0.841,4346734000000,19693,G.I. Generation
7,United States,1985,female,75+ years,466,7469000,6.24,United States1985,0.841,4346734000000,19693,G.I. Generation
8,United States,1985,female,25-34 years,1242,21041000,5.90,United States1985,0.841,4346734000000,19693,Boomers
9,United States,1985,female,15-24 years,854,19589000,4.36,United States1985,0.841,4346734000000,19693,Generation X
10,United States,1985,male,5-14 years,205,17370000,1.18,United States1985,0.841,4346734000000,19693,Generation X
11,United States,1985,female,5-14 years,73,16553000,0.44,United States1985,0.841,4346734000000,19693,Generation X
12,United States,1990,male,75+ years,2653,4585900,57.85,United States1990,0.859,5979589000000,26004,G.I. Generation
13,United States,1990,male,55-74 years,5109,17861900,28.60,United States1990,0.859,5979589000000,26004,G.I. Generation
14,United States,1990,male,25-34 years,5339,21564300,24.76,United States1990,0.859,5979589000000,26004,Boomers
15,United States,1990,male,35-54 years,7260,30742000,23.62,United States1990,0.859,5979589000000,26004,Silent
16,United States,1990,male,15-24 years,4160,18915400,21.99,United States1990,0.859,5979589000000,26004,Generation X
17,United States,1990,female,55-74 years,1504,21296300,7.06,United States1990,0.859,5979589000000,26004,G.I. Generation
18,United States,1990,female,35-54 years,2175,31749500,6.85,United States1990,0.859,5979589000000,26004,Silent
19,United States,1990,female,75+ years,511,8447400,6.05,United States1990,0.859,5979589000000,26004,G.I. Generation
20,United States,1990,female,25-34 years,1211,21596400,5.61,United States1990,0.859,5979589000000,26004,Boomers
21,United States,1990,female,15-24 years,709,18097900,3.92,United States1990,0.859,5979589000000,26004,Generation X
22,United States,1990,male,5-14 years,195,17970800,1.09,United States1990,0.859,5979589000000,26004,Generation X
23,United States,1990,female,5-14 years,69,17124400,0.40,United States1990,0.859,5979589000000,26004,Generation X
24,United States,1995,male,75+ years,2580,5346600,48.25,United States1995,0.876,7664060000000,31518,G.I. Generation
25,United States,1995,male,25-34 years,5234,20432000,25.62,United States1995,0.876,7664060000000,31518,Generation X
26,United States,1995,male,55-74 years,4607,18386200,25.06,United States1995,0.876,7664060000000,31518,Silent
27,United States,1995,male,35-54 years,8545,36243300,23.58,United States1995,0.876,7664060000000,31518,Boomers
28,United States,1995,male,15-24 years,4132,18352000,22.52,United States1995,0.876,7664060000000,31518,Generation X
29,United States,1995,female,35-54 years,2454,37303100,6.58,United States1995,0.876,7664060000000,31518,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
342,United States,2008,female,55-74 years,1703,28307998,6.02,United States2008,0.910,14718582000000,52128,Silent
343,United States,2008,female,25-34 years,1027,19812423,5.18,United States2008,0.910,14718582000000,52128,Generation X
344,United States,2008,female,75+ years,428,11038522,3.88,United States2008,0.910,14718582000000,52128,Silent
345,United States,2008,female,15-24 years,738,21149435,3.49,United States2008,0.910,14718582000000,52128,Millenials
346,United States,2008,male,5-14 years,154,21074651,0.73,United States2008,0.910,14718582000000,52128,Generation Z
347,United States,2008,female,5-14 years,68,20113575,0.34,United States2008,0.910,14718582000000,52128,Generation Z
348,United States,2009,male,75+ years,2552,7168575,35.60,United States2009,0.910,14418739000000,50563,Silent
349,United States,2009,male,35-54 years,11613,42932194,27.05,United States2009,0.910,14418739000000,50563,Boomers
350,United States,2009,male,55-74 years,6851,26664733,25.69,United States2009,0.910,14418739000000,50563,Silent
351,United States,2009,male,25-34 years,4293,20205941,21.25,United States2009,0.910,14418739000000,50563,Generation X
352,United States,2009,male,15-24 years,3595,22343137,16.09,United States2009,0.910,14418739000000,50563,Millenials
353,United States,2009,female,35-54 years,3664,42836835,8.55,United States2009,0.910,14418739000000,50563,Boomers
354,United States,2009,female,55-74 years,1875,29296258,6.40,United States2009,0.910,14418739000000,50563,Silent
355,United States,2009,female,25-34 years,1027,19992900,5.14,United States2009,0.910,14418739000000,50563,Generation X
356,United States,2009,female,15-24 years,776,21299140,3.64,United States2009,0.910,14418739000000,50563,Millenials
357,United States,2009,female,75+ years,389,11101144,3.50,United States2009,0.910,14418739000000,50563,Silent
358,United States,2009,male,5-14 years,175,21139852,0.83,United States2009,0.910,14418739000000,50563,Generation Z
359,United States,2009,female,5-14 years,90,20181953,0.45,United States2009,0.910,14418739000000,50563,Generation Z
360,United States,2015,male,75+ years,3171,8171136,38.81,United States2015,0.920,18120714000000,60387,Silent
361,United States,2015,male,55-74 years,9068,32264697,28.11,United States2015,0.920,18120714000000,60387,Boomers
362,United States,2015,male,35-54 years,11634,41658010,27.93,United States2015,0.920,18120714000000,60387,Generation X
363,United States,2015,male,25-34 years,5503,22137097,24.86,United States2015,0.920,18120714000000,60387,Millenials
364,United States,2015,male,15-24 years,4359,22615073,19.27,United States2015,0.920,18120714000000,60387,Millenials
365,United States,2015,female,35-54 years,4053,41531809,9.76,United States2015,0.920,18120714000000,60387,Generation X
366,United States,2015,female,55-74 years,2872,35115610,8.18,United States2015,0.920,18120714000000,60387,Boomers
367,United States,2015,female,25-34 years,1444,21555712,6.70,United States2015,0.920,18120714000000,60387,Millenials
368,United States,2015,female,15-24 years,1132,21633813,5.23,United States2015,0.920,18120714000000,60387,Millenials
369,United States,2015,female,75+ years,540,11778666,4.58,United States2015,0.920,18120714000000,60387,Silent
370,United States,2015,male,5-14 years,255,21273987,1.20,United States2015,0.920,18120714000000,60387,Generation Z
371,United States,2015,female,5-14 years,158,20342901,0.78,United States2015,0.920,18120714000000,60387,Generation Z

In [16]:
#none of these have missing values â€“ will have to aggregate ages though
depression = pd.read_csv("depression_percentage.csv")
display(depression)
drug_male = pd.read_csv("drug_male_by_age.csv")
display(drug_male)
drug_female = pd.read_csv("drug_female_by_age.csv")
display(drug_female)

    Year  male  female
0   1990  3.53    5.75
1   1991  3.52    5.73
2   1992  3.51    5.72
3   1993  3.51    5.72
4   1994  3.51    5.73
5   1995  3.51    5.73
6   1996  3.51    5.75
7   1997  3.52    5.80
8   1998  3.52    5.86
9   1999  3.53    5.92
10  2000  3.53    5.95
11  2001  3.53    5.97
12  2002  3.53    5.98
13  2003  3.52    5.99
14  2004  3.51    6.01
15  2005  3.51    6.02
16  2006  3.51    6.03
17  2007  3.51    6.02
18  2008  3.51    6.00
19  2009  3.50    5.98
20  2010  3.50    5.98
21  2011  3.50    5.98
22  2012  3.50    5.98
23  2013  3.50    5.99
24  2014  3.51    6.01
25  2015  3.51    6.03
26  2016  3.52    6.06
27  2017  3.53    6.09

,age,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,5-14 years,0.1,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.3,0.2,0.2,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2
1,15-24 years,4.5,5.3,6.1,7.3,8.8,9.6,10.0,12.0,12.0,11.9,11.3,11.6,12.4,11.4,11.7,12.1,13.3,17.5,17.1
2,25-34 years,11.5,11.3,12.0,14.7,15.7,16.6,18.7,22.7,23.4,23.6,24.0,25.0,27.5,27.0,28.6,31.9,37.9,48.9,54.3
3,35-54 years,34.4,35.2,37.6,43.7,46.9,47.6,50.2,57.2,55.9,55.2,54.3,53.4,57.2,57.5,59.6,63.7,71.6,89.4,101.3
4,55-74 years,7.6,6.5,8.0,9.6,10.7,11.5,13.9,15.8,18.4,19.6,20.8,21.8,23.9,25.6,29.6,30.8,34.7,42.2,48.0
5,75+ years,6.9,8.4,6.2,8.8,7.7,7.6,8.6,7.9,8.1,7.6,8.7,8.7,7.7,8.5,9.6,8.1,8.9,8.3,8.2

,age,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,5-14 years,0.1,0.1,0.1,0.2,0.1,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.3,0.2,0.3
1,15-24 years,1.8,1.9,2.2,2.8,3.1,3.3,3.5,3.9,4.2,4.0,4.1,4.6,4.6,4.4,4.8,5.0,5.9,7.0,7.9
2,25-34 years,4.6,4.6,5.2,6.2,7.1,7.2,8.5,9.5,10.1,9.9,10.4,11.9,12.8,13.1,13.0,14.1,15.7,19.9,22.0
3,35-54 years,15.9,16.9,19.5,25.0,27.2,29.8,31.3,34.5,37.1,37.5,37.8,38.6,41.3,40.5,41.6,42.9,45.4,50.0,52.6
4,55-74 years,5.6,5.9,6.4,8.0,9.0,10.0,10.6,12.4,14.2,15.5,16.2,17.7,18.8,19.5,21.8,23.7,23.7,26.0,27.3
5,75+ years,6.5,6.2,6.1,6.5,6.4,6.6,6.6,7.5,7.5,7.3,7.8,7.8,7.6,7.3,6.9,7.5,7.4,6.8,7.3

In [13]:
depression_melted = depression.melt(id_vars=['Year'], var_name='sex', value_name='depression_percentage')
depression_melted['year'] = depression_melted['Year']
depression_melted.drop("Year", axis=1, inplace=True)
depression_melted

       sex  depression_percentage  year
0     male                   3.53  1990
1     male                   3.52  1991
2     male                   3.51  1992
3     male                   3.51  1993
4     male                   3.51  1994
5     male                   3.51  1995
6     male                   3.51  1996
7     male                   3.52  1997
8     male                   3.52  1998
9     male                   3.53  1999
10    male                   3.53  2000
11    male                   3.53  2001
12    male                   3.53  2002
13    male                   3.52  2003
14    male                   3.51  2004
15    male                   3.51  2005
16    male                   3.51  2006
17    male                   3.51  2007
18    male                   3.51  2008
19    male                   3.50  2009
20    male                   3.50  2010
21    male                   3.50  2011
22    male                   3.50  2012
23    male                   3.50  2013
24    male                   3.51  2014
25    male                   3.51  2015
26    male                   3.52  2016
27    male                   3.53  2017
28  female                   5.75  1990
29  female                   5.73  1991
30  female                   5.72  1992
31  female                   5.72  1993
32  female                   5.73  1994
33  female                   5.73  1995
34  female                   5.75  1996
35  female                   5.80  1997
36  female                   5.86  1998
37  female                   5.92  1999
38  female                   5.95  2000
39  female                   5.97  2001
40  female                   5.98  2002
41  female                   5.99  2003
42  female                   6.01  2004
43  female                   6.02  2005
44  female                   6.03  2006
45  female                   6.02  2007
46  female                   6.00  2008
47  female                   5.98  2009
48  female                   5.98  2010
49  female                   5.98  2011
50  female                   5.98  2012
51  female                   5.99  2013
52  female                   6.01  2014
53  female                   6.03  2015
54  female                   6.06  2016
55  female                   6.09  2017

In [33]:
#merge depression by gender and year
dep = pd.merge(suicides_us, depression_melted, on=['year', 'sex'], how='left')
dep.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,depression_percentage
0,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN
1,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN
2,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,4346734000000,19693,Boomers,NaN
3,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,4346734000000,19693,Silent,NaN
4,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,4346734000000,19693,Generation X,NaN

In [30]:
drug_male_melt = drug_male.melt(id_vars=['age'], var_name='year', value_name='drug_death_rate')
drug_male_melt['sex'] = ['male']*len(drug_male_melt)
drug_male_melt.head()

           age  year  drug_death_rate   sex
0   5-14 years  1999              0.1  male
1  15-24 years  1999              4.5  male
2  25-34 years  1999             11.5  male
3  35-54 years  1999             34.4  male
4  55-74 years  1999              7.6  male

In [31]:
drug_female_melt = drug_female.melt(id_vars=['age'], var_name='year', value_name='drug_death_rate')
drug_female_melt['sex'] = ['female']*len(drug_female_melt)
drug_female_melt.head()

           age  year  drug_death_rate     sex
0   5-14 years  1999              0.1  female
1  15-24 years  1999              1.8  female
2  25-34 years  1999              4.6  female
3  35-54 years  1999             15.9  female
4  55-74 years  1999              5.6  female

In [32]:
drugs = pd.concat([drug_male_melt, drug_female_melt])
drugs.head()

           age  year  drug_death_rate   sex
0   5-14 years  1999              0.1  male
1  15-24 years  1999              4.5  male
2  25-34 years  1999             11.5  male
3  35-54 years  1999             34.4  male
4  55-74 years  1999              7.6  male

In [45]:
#drugs.reset_index(drop=True, inplace=True)

In [50]:
#drugs['year'] = drugs.year.astype(int)

In [55]:
full_merge = pd.merge(dep, drugs, on = ['year', 'age', 'sex'], how="left")
full_merge.sort_values(["year", "age", "sex"], inplace=True)
full_merge

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,depression_percentage,drug_death_rate
9,United States,1985,female,15-24 years,854,19589000,4.36,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
4,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
8,United States,1985,female,25-34 years,1242,21041000,5.90,United States1985,0.841,4346734000000,19693,Boomers,NaN,NaN
2,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,4346734000000,19693,Boomers,NaN,NaN
5,United States,1985,female,35-54 years,2105,27763000,7.58,United States1985,0.841,4346734000000,19693,Silent,NaN,NaN
3,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,4346734000000,19693,Silent,NaN,NaN
11,United States,1985,female,5-14 years,73,16553000,0.44,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
10,United States,1985,male,5-14 years,205,17370000,1.18,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
6,United States,1985,female,55-74 years,1568,21366000,7.34,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN,NaN
1,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN,NaN
7,United States,1985,female,75+ years,466,7469000,6.24,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN,NaN
0,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,4346734000000,19693,G.I. Generation,NaN,NaN
129,United States,1986,female,15-24 years,844,19313000,4.37,United States1986,0.850,4590155000000,20588,Generation X,NaN,NaN
124,United States,1986,male,15-24 years,4276,19715000,21.69,United States1986,0.850,4590155000000,20588,Generation X,NaN,NaN
128,United States,1986,female,25-34 years,1261,21391000,5.90,United States1986,0.850,4590155000000,20588,Boomers,NaN,NaN
122,United States,1986,male,25-34 years,5450,21393000,25.48,United States1986,0.850,4590155000000,20588,Boomers,NaN,NaN
125,United States,1986,female,35-54 years,2299,28520000,8.06,United States1986,0.850,4590155000000,20588,Silent,NaN,NaN
123,United States,1986,male,35-54 years,6450,27363000,23.57,United States1986,0.850,4590155000000,20588,Silent,NaN,NaN
131,United States,1986,female,5-14 years,56,16517000,0.34,United States1986,0.850,4590155000000,20588,Generation X,NaN,NaN
130,United States,1986,male,5-14 years,199,17338000,1.15,United States1986,0.850,4590155000000,20588,Generation X,NaN,NaN
126,United States,1986,female,55-74 years,1696,21455000,7.90,United States1986,0.850,4590155000000,20588,G.I. Generation,NaN,NaN
121,United States,1986,male,55-74 years,5500,18101000,30.39,United States1986,0.850,4590155000000,20588,G.I. Generation,NaN,NaN
127,United States,1986,female,75+ years,521,7669000,6.79,United States1986,0.850,4590155000000,20588,G.I. Generation,NaN,NaN
120,United States,1986,male,75+ years,2340,4178000,56.01,United States1986,0.850,4590155000000,20588,G.I. Generation,NaN,NaN
141,United States,1987,female,15-24 years,815,18925000,4.31,United States1987,0.850,4870217000000,21631,Generation X,NaN,NaN
136,United States,1987,male,15-24 years,4109,19327000,21.26,United States1987,0.850,4870217000000,21631,Generation X,NaN,NaN
140,United States,1987,female,25-34 years,1285,21645000,5.94,United States1987,0.850,4870217000000,21631,Boomers,NaN,NaN
134,United States,1987,male,25-34 years,5370,21670000,24.78,United States1987,0.850,4870217000000,21631,Boomers,NaN,NaN
137,United States,1987,female,35-54 years,2270,29359000,7.73,United States1987,0.850,4870217000000,21631,Silent,NaN,NaN
135,United States,1987,male,35-54 years,6569,28222000,23.28,United States1987,0.850,4870217000000,21631,Silent,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,United States,2013,female,5-14 years,143,20308672,0.70,United States2013,0.913,16691517000000,56520,Generation Z,5.99,0.2
106,United States,2013,male,5-14 years,252,21233001,1.19,United States2013,0.913,16691517000000,56520,Generation Z,3.50,0.2
102,United States,2013,female,55-74 years,2484,33229667,7.48,United States2013,0.913,16691517000000,56520,Boomers,5.99,21.8
97,United States,2013,male,55-74 years,8445,30405404,27.77,United States2013,0.913,16691517000000,56520,Boomers,3.50,29.6
105,United States,2013,female,75+ years,431,11486590,3.75,United States2013,0.913,16691517000000,56520,Silent,5.99,6.9
96,United States,2013,male,75+ years,2990,7816638,38.25,United States2013,0.913,16691517000000,56520,Silent,3.50,9.6
116,United States,2014,female,15-24 years,990,21691057,4.56,United States2014,0.915,17427609000000,58531,Millenials,6.01,5.0
112,United States,2014,male,15-24 years,4089,22700273,18.01,United States2014,0.915,17427609000000,58531,Millenials,3.51,12.1
115,United States,2014,female,25-34 years,1347,21250636,6.34,United States2014,0.915,17427609000000,58531,Millenials,6.01,14.1
111,United States,2014,male,25-34 years,5222,21760455,24.00,United States2014,0.915,17427609000000,58531,Millenials,3.51,31.9
113,United States,2014,female,35-54 years,4018,41742299,9.63,United States2014,0.915,17427609000000,58531,Generation X,6.01,42.9
110,United States,2014,male,35-54 years,11455,41858354,27.37,United States2014,0.915,17427609000000,58531,Generation X,3.51,63.7
119,United States,2014,female,5-14 years,151,20336916,0.74,United States2014,0.915,17427609000000,58531,Generation Z,6.01,0.2
118,United States,2014,male,5-14 years,277,21264881,1.30,United States2014,0.915,17427609000000,58531,Generation Z,3.51,0.2
114,United States,2014,female,55-74 years,2676,34193742,7.83,United States2014,0.915,17427609000000,58531,Boomers,6.01,23.7
109,United States,2014,male,55-74 years,8961,31339875,28.59,United States2014,0.915,17427609000000,58531,Boomers,3.51,30.8
117,United States,2014,female,75+ years,477,11616299,4.11,United States2014,0.915,17427609000000,58531,Silent,6.01,7.5
108,United States,2014,male,75+ years,3106,7994948,38.85,United States2014,0.915,17427609000000,58531,Silent,3.51,8.1
368,United States,2015,female,15-24 years,1132,21633813,5.23,United States2015,0.920,18120714000000,60387,Millenials,6.03,5.9
364,United States,2015,male,15-24 years,4359,22615073,19.27,United States2015,0.920,18120714000000,60387,Millenials,3.51,13.3
367,United States,2015,female,25-34 years,1444,21555712,6.70,United States2015,0.920,18120714000000,60387,Millenials,6.03,15.7
363,United States,2015,male,25-34 years,5503,22137097,24.86,United States2015,0.920,18120714000000,60387,Millenials,3.51,37.9
365,United States,2015,female,35-54 years,4053,41531809,9.76,United States2015,0.920,18120714000000,60387,Generation X,6.03,45.4
362,United States,2015,male,35-54 years,11634,41658010,27.93,United States2015,0.920,18120714000000,60387,Generation X,3.51,71.6
371,United States,2015,female,5-14 years,158,20342901,0.78,United States2015,0.920,18120714000000,60387,Generation Z,6.03,0.3
370,United States,2015,male,5-14 years,255,21273987,1.20,United States2015,0.920,18120714000000,60387,Generation Z,3.51,0.2
366,United States,2015,female,55-74 years,2872,35115610,8.18,United States2015,0.920,18120714000000,60387,Boomers,6.03,23.7
361,United States,2015,male,55-74 years,9068,32264697,28.11,United States2015,0.920,18120714000000,60387,Boomers,3.51,34.7
369,United States,2015,female,75+ years,540,11778666,4.58,United States2015,0.920,18120714000000,60387,Silent,6.03,7.4
360,United States,2015,male,75+ years,3171,8171136,38.81,United States2015,0.920,18120714000000,60387,Silent,3.51,8.9

In [56]:
full_merge.to_csv("us_suicides_merged.csv", index=False)

In [57]:
test = pd.read_csv("us_suicides_merged.csv")
test.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,depression_percentage,drug_death_rate
0,United States,1985,female,15-24 years,854,19589000,4.36,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
1,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,4346734000000,19693,Generation X,NaN,NaN
2,United States,1985,female,25-34 years,1242,21041000,5.90,United States1985,0.841,4346734000000,19693,Boomers,NaN,NaN
3,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,4346734000000,19693,Boomers,NaN,NaN
4,United States,1985,female,35-54 years,2105,27763000,7.58,United States1985,0.841,4346734000000,19693,Silent,NaN,NaN