In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {'Models': ["Baseline", "Linear Regression", "CART", "RF (mtry = 5)", "RF (mtry = 10)", "Boosting", 
                   "Time Series (Random Walk)", "Time Series (one term AR)", "Time Series (two term AR)", 
                   "Time Series (RF)"],
        'R2': ["-", 0.8014, 0.9398040, 0.9735655, 0.9867658, "-", 0.9965203, 0.9967, 0.9969, "-"],
        'OSR2': [0.00003278162, 0.7357, 0.8777108, 0.9645385, 0.9928406, 0.7628486, "-", 0.9097873, 0.9090414, 0.8945664]}

In [3]:
result = pd.DataFrame(dict)

In [4]:
result

                      Models        R2         OSR2
0                   Baseline         -  3.27816e-05
1          Linear Regression    0.8014       0.7357
2                       CART  0.939804     0.877711
3              RF (mtry = 5)  0.973565     0.964538
4             RF (mtry = 10)  0.986766     0.992841
5                   Boosting         -     0.762849
6  Time Series (Random Walk)   0.99652            -
7  Time Series (one term AR)    0.9967     0.909787
8  Time Series (two term AR)    0.9969     0.909041
9           Time Series (RF)         -     0.894566

In [5]:
result.style.hide_index()